# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/resValues/
app/build/generated/res/rs/
app/build/generated/source/aidl/
app/build/generated/source/apt/androidTest/
app/build/generated/source/apt/test/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/classes/debug/com/loftschool/moneytracker/rest/LoftSchoolAPI.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/rest/NetworkStatusChecker.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/rest/RestService.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/rest/models/
app/build/intermediates/classes/debug/com/loftschool/moneytracker/rest/registration/
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$10.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$5.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$6.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$7.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$8.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/ui/RegistrationActivity_$9.class
app/build/intermediates/classes/debug/com/loftschool/moneytracker/utils/ConstantsManager.class
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/design/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/design/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/design/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/assets/
app/build/intermediates/exploded
-aar/com.android.support/support-compat/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/res/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
